---
import '@picocss/pico/css/pico.classless.min.css'
import '@/styles/base.css'
import favicon from '@/assets/favicon.svg'
import config from '@/../astro.config.mjs'

interface Props {
  title: string
  noindex: boolean
}

const {
  title,
  noindex = false
} = Astro.props

// assemble copyright years period
const copyrightYears = ((copyrightYearStart) => {
  const currentYear = (new Date()).getFullYear()
  return copyrightYearStart === currentYear
    ? currentYear
    : `${copyrightYearStart} - ${currentYear}`
})(2024)

// render debug version label for non-production environments
const lblDebugVersion = config.custom.env !== 'prd'
  ? `${config.custom.env}:${config.custom.version}`
  : ''
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1" />
    <title>{title} | tpl-aws-astro-lambda</title>
    <meta name="description" content="tpl-aws-awstro template repository" />
    { noindex && <meta name="robots" content="noindex" /> }
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta name="color-scheme" content="light dark" />
  </head>
  <body>
    <header><h1>tpl-aws-astro-lambda</h1></header>
    <main>
      <slot />
    </main>
    <footer>
      <small>&copy; {copyrightYears} tpl-aws-astro-lambda</small>
      <small>{lblDebugVersion}</small>
    </footer>
  </body>
</html>
