---
import Layout from '@/layouts/Layout.astro'
import config from '../../astro.config.mjs'

const siteUrl = Astro.site?.href
const siteHostname = Astro.site?.hostname

const {
  env,
  version,
  apiUrl,
} = config.custom
---

<Layout title="Hello world!">
  <section>
    <header>
      <h1>Server vars (pre-rendered tpl)</h1>
    </header>
    <p>
      <ul id="server-vars">
        <li><b>SiteUrl:</b> <a href={siteUrl} title={siteHostname}>{siteUrl}</a></li>
        <li><b>SiteHostname:</b> {siteHostname}</li>
        <li><b>Environment:</b> {env}</li>
        <li><b>Api url:</b> {apiUrl}</li>
      </ul>
  </section>
  <section>
    <header>
      <h1>Client vars (pre-rendered js)</h1>
    </header>
    <p>
      <ul id="list-vars"></ul>
  </section>
  <section>
    <header>
      <h1>Api response</h1>
    </header>
    <p>
      <ul id="list-api">
        <li><b>GET /statusz:</b> ...</li>
      </ul>
  </section>
</Layout>

<script define:vars={{ config: config.custom }}>
  const list = document.getElementById('list-vars')
  list.innerHTML += `<li><b>Environment:</b> ${config.env}</li>`
  list.innerHTML += `<li><b>Version:</b> ${config.version}</li>`
  list.innerHTML += `<li><b>Api url:</b> ${config.apiUrl}</li>`

  fetch(`${config.apiUrl}/statusz`)
    .then(response => response.json())
    .then(data => {
      const listApi = document.getElementById('list-api')
      listApi.innerHTML = `<li><b>GET /statusz:</b> ${JSON.stringify(data)}</li>`
    })
    .catch(error => console.error('Error:', error))
</script>

